.list{
  .item{
    background-color: #FFFFFF;
    border-top: 1px solid #e2e2e2;
    padding: 22px 0 30px;

    .image-wrapper{
      float: left;
      padding: 0 15px;

      img{
        width: 65px;
        height: 65px;
        border:5px solid #e2e2e2;
        border-radius: 56px;
      }
    }

    &:hover{
      .action{
        opacity: 100;
      }
    }

    .action{
      opacity: 0;
      transition: opacity 200ms ease-in;
      float: right;
      margin: 10px 20px;
      .btn{
        text-align: center;
        display: inline-block;
        text-decoration: none;
        font-size: 40px;

        &.btn-rounded{
          width: 48px ;
          height: 48px;
          border: 5px solid #e2e2e2;
          color: #e2e2e2;
          border-radius: 48px;
          line-height: 48px;
        }

        &:hover{
          border-color: #d7d7d7;
          color: #d7d7d7;
        }
      }
    }

    .info{
      overflow: hidden;

      span{
        font-size: 23px;
        color: #606060;
        display: block;
        margin: 5px 0 10px;

        &.name{
          font-weight: bold;
          text-transform: capitalize;
        }
        &.phone{
          font-weight: lighter;
        }
      }
    }
  }
}
